body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #0f7bff, #00c6ff);
    font-family: Arial;
}

.calculator {
    background: #eee;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
}

#display {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 26px;
    text-align: right;
    padding: 6px ;

    background: #e6e6e6;


    box-shadow: inset 0 4px 8px rgba(0,0,0,0.2);

    outline: none;

    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; 
}

button {
    height: 55px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

button:nth-child(-n+4) {
    background-color: #f4c96b;
}

button {
    background-color: #a9c4db;
}


button:active {
    transform: scale(0.95);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.3);
}


button:hover {
    opacity: 0.8;
}

.clear {
    background: #ff5c5c;
    color: white;
}

.equal {
    grid-column: span 2;
    background: #00c896;
    color: white;
}

button:hover {
    transform: scale(1.05);
}
